block variables

html(lang="en")
  head
    title= pageTitle

    block style
      //- use common styles global
      //- link(href=require('./tailwind.css') rel='stylesheet')
      link(href=require('./scss/main.scss') rel='stylesheet')
  body
    .container
      //- img(src=require('@/assets/images/google-icon.png'))
      h1.title Pug - node template engine
      block content

    //- block for page scripts added in a page Pug file, must be always at last position
    block script
      script(src=require('@js/main.js'))